body 
{background-color: rgba(255, 240, 210, 0.572);
}
nav {font-family: 'Mulish', sans-serif;}

h2 {font-family: 'Happy Monkey', cursive;
  letter-spacing: 1.5px;}

h5 {font-family: 'Mulish', sans-serif;}

h4 {line-height: 27pt;}

.text-block {
    position: absolute;
    bottom: 120px;
    right: 365px;
    background-color: rgba(243, 130, 0, 0.355);
    color: white;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px
  }

  p {line-height: 21pt;}

  a:link, a:visited {
    background-color: #226d4be8;
    color: white;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: rgba(188, 33, 6, 0.073);
  }

  
  footer {
    background:rgba(243, 130, 0, 0.301);  
    }
